@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: #004f4d !important;
  background-color: #1f2024 !important;

}
.btn {

  padding: 0.8em 1.75em;
  background-color: #004f4d;
  border-radius: 0px;
  border: .3px solid #004f4d;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  
 }

 .btn-primary {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
 }

 h2{
  font-size: 2.5em;
  font-weight: 300;
  color: #004f4d;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
 }

 h3{
  font-size: 2em;
  font-weight: 300;
  color: #004f4d;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
 }
 
 
 