@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: #004f4d !important;

}
.btn {

  padding: 0.8em 1.75em;
  background-color: #004f4d;
  border-radius: 0px;
  border: .3px solid #004f4d;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  
 }
 
 